<div class="main-content">
    <div class="container-fluid">
        <div class="card card-stats">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <h3 class="card-title text-left">Actividad Módulo 1 - Instrucciones</h3>
            </div>
            <div class="card-body">
                <ul class="justify-content">
                    <li>Las matrices permiten ubicar gráficamente a los interesados y estudiar sus
                        intereses, actitud, influencia e interrelación entre interesados y el proyecto.</li>
                    <li>Permite diseñar estrategias a los interesados, a través del posicionamiento
                        cualitativo o cuantitativo de características en funciona de dos variables,
                        obteniendo finalmente una agrupación de interesados con criterios comunes.</li>
                </ul>
            </div>
        </div>
    </div>

<div class="container-fluid">
        <div class="row">
            <div class="card-header border card-header-warning card-header-icon col-3 bg-danger"
                (click)="selectItem($event, item)"
                [className]="(!item.mostrar)
                ? 'card-header border card-header-warning card-header-icon col-3 bg-danger':
                (item.correcto)?'card-header border card-header-warning card-header-icon col-3 bg-success':'card-header border card-header-warning card-header-icon col-3 bg-info' "
                *ngFor="let item of items ; let i = index">
                <h1 *ngIf="!item.mostrar" class="text-white">{{i + 1}}</h1>
                <h1 *ngIf="item.correcto" class="text-white">{{item.id}}<i class="material-icons text-white ">check</i>
                </h1>
                <p *ngIf="item.mostrar" class="card-category">{{item.elemento}}</p>
            </div>
        </div>
</div>
</div>
<app-notifications #notifications></app-notifications>
