<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-info gray">
                <h3 class="card-title">Módulo 2: Gestión del cronograma</h3>
                <!-- <p class="card-category">Created using Roboto Font Family</p> -->
            </div>
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2>Cronograma</h2>
                        <div class="container">
                            <p class="justify-content">
                                De forma general podríamos definir el cronograma de un proyecto como: Documento que
                                muestra ordenadamente las diferentes tareas e hitos que forman el proyecto, las
                                relaciones de precedencia y antecedencia entre ellas, su duración, y el inicio y fin del
                                proyecto. El cronograma del proyecto, el siguiente punto es conocer las diferentes
                                formas de representarlo.
                            </p>
                            <p class="justify-content">
                                Toda esta información sobre los interesados del proyecto se debe concentrar en un
                                documento (Registro de interesados) para su fácil práctica consulta. La gestión eficaz
                                de los
                                interesados del proyecto parte de la oportuna identificación y mantenimiento de un
                                registro de los mismos, para lo cual el Gerente de proyectos cuenta con un instrumento
                                que se
                                denomina registro de los interesados.

                                En él se documenta información sobre los datos de contacto de cada uno de los
                                interesados, sus requerimientos, expectativas, evaluación de su grado de influencia,
                                interés y
                                postura (a favor o contraria) entre otros aspectos. Aquí les compartimos una plantilla
                                que puede
                                guiar en el levantamiento y mantenimiento del registro de interesados.
                            </p>
                            <p class="text-center">
                                <img src="../../../assets/img/modules/img_5-cronograma.png" alt="Project Charte"
                                    sizes="">
                            </p>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>