<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-info gray">
              <h3 class="card-title">Módulo 1: Project Charter o Acta de constitución</h3>
              <!-- <p class="card-category">Created using Roboto Font Family</p> -->
          </div>
          <div class="card-body">
              <div id="typography">
                  <div class="card-title">
                      <h2>Project Charter Works!</h2>
                  </div>
                  <div class="row">
                  </div>
              </div>
          </div>
      </div>
  </div>

